{% extends "inventory/base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead my-3">Это главная страница нашей системы учета оборудования. Здесь вы можете получить информацию
       о доступном оборудовании и новостях системы.</p>
    <p class="lead mb-0">
      <a href="{% url 'equipment_list' %}" class="btn btn-lg btn-success">Перейти к списку оборудования</a>
    </p>
  </div>
</div>
{% endblock %}
