{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">
      <i class="bi bi-boxes me-2"></i> Мониторинг и аренда оборудования
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'equipment_list' %}">Список оборудования</a>
        </li>

      </ul>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
<!--                        {{ user.first_name|default:"Иван" }} {{ user.last_name|default:"Иванов" }}-->
                        {{ user.name|default:"Вася Васильев" }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-person-circle me-1"></i> Личный кабинет
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <a class="btn btn-light text-dark" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-in-right"></i> Войти
            </a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
